# This file only declares the top-level development requirements.
# Run `pip-compile --upgrade dev-requirements.in` to generate the dev-requirements.txt
# file, which is used to set up the CI environment.
# The pip-compile script is part of the pip-tools package:
# https://github.com/jazzband/pip-tools

black
pytest
# https://github.com/google/pytype/issues/440
pytype; python_version < '3.8'
