# This file only declares the top-level development requirements.
# Run `pip-compile --upgrade dev-requirements.in` to generate the dev-requirements.txt
# file, which is used to set up the CI environment.
# The pip-compile script is part of the pip-tools package:
# https://github.com/jazzband/pip-tools

black
pip-tools
pytest
# As of November 2020, pytype requires: Python <3.9, >=3.6
# https://pypi.org/project/pytype/2020.11.23
pytype; python_version < '3.9'